<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>创建服务</title>
<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />
<link rel="shortcut icon" type="image/x-icon"
	href="https://i.alipayobjects.com/i/localhost/ico/201404/2WPSMmbEyj.ico" />
<link rel="stylesheet"
	href="//campus.alibaba.com/assets/campus/css/campus.css?v=201707271324"
	type="text/css" />
<link
	href="//campus.alibaba.com/assets/campus/css/common_v2.source.css?v=201707271324"
	rel="stylesheet" type="text/css" />
<link
	href="https://s.tbcdn.cn/g/??alinw/kuma-button/1.0.1/kuma-button.css,alinw/tip/0.0.1/tip.css"
	media="screen, projection" rel="stylesheet" type="text/css" />
<link href="//campus.alibaba.com/assets/campus/css/appTree.css"
	media="screen, projection" rel="stylesheet" type="text/css" />
<link href="//g.alicdn.com/platform/common/s/1.1/global/global.css"
	media="screen, projection" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../../js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="min-box">
			<table class="table-new">
				<thead>
				</thead>
				<thead>
					<tr>
						<th>订单名称</th>
						<th>订单类型</th>
						<th>申请日期</th>
						<th>申请编号</th>
						<th>当前进度</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr class="content-new-top">
						<td><span class="strong-new"> 半导体
						</span></td>
						<td class="city-name">远程
						</td>
						<td>2017-03-20</td>
						<td>1956644</td>
						<td class="state-name" interviewtime="" writeurl=""
							interviewurl="" statustype=""><span class="strong-new">伙伴选择</span>
						</td>
						<td>
							<a href="javascript:void(0)" applyid="1956644" refno="11757"
								class="ui-button ui-button-mwhite changePosition status-1">订单分解</a>
							<a href="javascript:void(0)" applyid="1956644" refno="11757"
								class="ui-button ui-button-mwhite changePosition status-1">修改订单</a>
							<a href="javascript:void(0)" applyid="1956644"
								class="ui-button ui-button-mwhite status-changecity">取消订单</a>
						</td>
					</tr>
					<tr class="content-new-bottom">
						<td colspan="6" class="progress-new new-data" data-reldata="{}"
							data-status="1" data-parentstatus="-1"
							data-onlineexaminfo="{&quot;isDisableButton&quot;:false,&quot;isShowExamUrl&quot;:false,&quot;isShowProcess&quot;:false}"
							data-examinfo="{&quot;examUrl&quot;:&quot;https://exam.alibaba.com/test/EJZDCp0WCz&quot;,&quot;isShowExamUrl&quot;:true,&quot;isShowProcess&quot;:false}"
							data-beisen="{&quot;isShowBeisenProcess&quot;:true,&quot;isShowBeisenUrl&quot;:false}"><div
								class="progress-wrap">

								<ul class="vertical-progress vertical-progress-resume">
									<li class="vertical-progress-item">
										<span class="stage">伙伴列表</span>
									</li>
									<li class="vertical-progress-item">
										<span class="stage">伙伴推荐</span>
									</li>
								</ul>
								<div class="vertical-line1"></div>
								<ul class="vertical-progress vertical-progress-interview">
									<li class="vertical-progress-item">
										<span class="stage">监控</span>
									</li>
									<li class="vertical-progress-item">
										<span class="stage">公告</span>
									</li>
								</ul>
								<div class="vertical-line2"></div>
								<ul class="vertical-progress vertical-progress-offer">
									<li class="vertical-progress-item">
										<span class="stage stage-width">意向</span>
									</li>
									<li class="vertical-progress-item">
										<span class="stage stage-width">测试</span>
									</li>
								</ul>
								<div class="vertical-line3"></div>
								<ul class="progress-bar">
									<li class="progress-item-point point-item1 point-active"></li>
									<li class="progress-item-line line-item1 line-inactive"></li>
									<li class="progress-item-point point-inactive point-item2"></li>
									<li class="progress-item-line line-item2 line-inactive"></li>
									<li class="progress-item-point point-inactive point-item3"></li>
									<li class="progress-item-line line-item3 line-inactive"></li>
									<li class="progress-item-point point-inactive point-item4"></li>
									<li class="progress-item-line line-item4 line-inactive"></li>
									<li class="progress-item-point point-inactive point-item5"></li>
									<li class="progress-item-line line-item5 line-inactive"></li>
									<li class="progress-item-point point-inactive point-item6"></li>
								</ul>
								<ul class="progress-explain">
									<li class="progress-item-desc desc-item1">
										<p class="desc-zh active">需求发布</p>
									</li>
									<li class="progress-item-desc desc-item2">
										<p class="desc-zh active">联盟组建</p>
									</li>
									<li class="progress-item-desc desc-item3">
										<p class="desc-zh active">订单进行</p>
									</li>
									<li class="progress-item-desc desc-item4">
										<p class="desc-zh active">成果交付</p>
									</li>
									<li class="progress-item-desc desc-item5">
										<p class="desc-zh active">订单完成</p>
									</li>
								</ul>
							</div>
						</td>
					</tr>
					<tr class="empty">
						<td colspan="6">&nbsp;</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
<style>
.main-content {
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}
</style>
</html>