<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <title>订单详情</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../static/css/matrix-style.css"/>
    <link rel="shortcut icon" href="../../static/images/favicon.ico"/>
    <!--[if lt IE 9]>
    <script src="../../static/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!--containt-part-->
<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <a href="/" title="Go to Home" class="tip-bottom"><span class="glyphicon glyphicon-home"
                                                                    aria-hidden="true"></span>首页</a>
            <a href="/orders" class="current">订单管理</a><a href="#" class="current">订单详情</a>
        </div>
    </div>
    <div class="container-fluid" style="padding-top: 70px;">
        <div class="row">
            <div class="col-xs-6">
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"> <span class="glyphicon glyphicon-th"> </span></span>
                        <h5>订单信息</h5>
                        <span class="icon-add-btn"><a th:href="@{/orders}" type="button"
                                                      class="btn btn-success btn-xs">其他订单</a></span>
                    </div>
                    <div class="widget-content">
                        <table class="table table-hover order-table">
                            <tbody>
                            <tr>
                                <td><b>订单ID：</b></td>
                                <td th:text="${order.order_id}"></td>
                            </tr>
                            <tr>
                                <td><b>订单名称：</b></td>
                                <td th:text="${order.order_name}"></td>
                            </tr>
                            <tr>
                                <td><b>行业领域</b></td>
                                <td th:text="${order.field}"></td>
                            </tr>
                            <tr>
                                <td><b>项目组成员数</b></td>
                                <td th:text="${order.partner_nums}">*{member_count}</td>
                            </tr>
                            <tr>
                                <td><b>原子订单数</b></td>
                                <td th:text="${order.sub_order_nums}"></td>
                            </tr>
                            <tr>
                                <td><b>交货期</b></td>
                                <td th:text="${order.delivery_date}"></td>
                            </tr>
                            <tr>
                                <td><b>订单状态</b></td>
                                <td th:text="${order.status}"><span class="red">*{order_status}</span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"> <span class="glyphicon glyphicon-th"> </span></span>
                        <h5>项目成员</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <form id="project_member" name="">
                            <table th:each="partner : ${partners}" class="table table-hover order-table">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>名称</th>
                                    <th>联系方式</th>
                                    <th>所属子订单</th>
                                    <th>角色</th>
                                    <th>交货期</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td th:text="${partner.partner_id}"></td>
                                    <td th:text="${partner.partner_name}"><span class="green"></span></td>
                                    <td th:text="${partner.tel}"></td>
                                    <td th:text="${partner.sub_order_name}"></td>
                                    <td th:text="${partner.role}"></td>
                                    <td><a th:href="@{'/orders/details/partner/' + ${partner.id}}"><span
                                            class="badge badge-success">详情</span></a></td>
                                </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"><span class="glyphicon glyphicon-th"></span></span>
                        <h5>原子订单</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <form id="suborders" name="">
                            <table th:each="suborder : ${suborders}" class="table table-hover order-table">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>名称</th>
                                    <th>状态</th>
                                    <th>交货期</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td th:text="${suborder.subOrderId}"></td>
                                    <td th:text="${suborder.subOrderName}"><span class="green"></span></td>
                                    <td th:text="${suborder.subOrderStatus}"></td>
                                    <td th:text="${suborder.DeliveryDate}"></td>
                                    <td>
                                        <a th:href="@{'/orders/details/suborders/' + ${suborder.subOrderId}}"><span
                                                class="
                                           badge badge-success">详情</span></a></td>
                                </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"> <span class="glyphicon glyphicon-th"> </span></span>
                        <h5>操作日志</h5>
                        <span class="icon-add-btn"><button type="button"
                                                           class="btn btn-success btn-xs">浏览更多</button></span>
                    </div>
                    <div class="widget-content nopadding">
                        <form id="oplog" name="">
                            <table class="table table-hover order-table">
                                <thead>
                                <tr>
                                    <th>编号</th>
                                    <th>用户</th>
                                    <th>状态</th>
                                    <th>子订单</th>
                                    <th>日志</th>
                                    <th>时间</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>18530</td>
                                    <td>同济大学</td>
                                    <td>订单已接收</td>
                                    <td>晶圆制造</td>
                                    <td>订单状态变更[已接收]</td>
                                    <td>2017 10-14 10:34</td>
                                </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end-containt-part-->

<script src="../../static/js/jquery.js"></script>
<script src="../../static/js/bootstrap.min.js"></script>
<script src="../../static/js/matrix.js"></script>

</body>
</html>
