<!DOCTYPE html>
<html lang = "en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>创建服务</title>
	<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="../../css/font-awesome.min.css" />
    <link rel="stylesheet" href="../../css/matrix-style.css"/>
    <link type="text/css" href="../../css/theme.css" rel="stylesheet"/>
	<script type="text/javascript" src="../../js/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div id="content-header">
			<div id="breadcrumb">
				<a href="/" title="Go to Home" class="tip-bottom"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>首页</a>
				<a href="/services" class="current">服务管理</a><a href="#" class="current">服务信息发布</a>
			</div>
		</div>
		<div class="container-fluid" style="padding-top: 100px">
			<ul class="nav nav-tabs nav-justified">
		        <li role="presentation" class="active"><a href="#hard-resource" data-toggle="tab"><b>硬件资源类</b></a></li>
		        <li role="presentation"><a href="#soft-resource" data-toggle="tab"><b>软件资源类</b></a></li>
		        <li role="presentation"><a href="#manufacturing-services" data-toggle="tab"><b>制造服务类</b></a></li>
		        <li role="presentation"><a href="#assist-resource" data-toggle="tab"><b>制造能力类</b></a></li>
	    	</ul>
			<div class="row main-content tab-content">
				<div class="tab-pane fade in active" id="hard-resource">
					<form action="#" th:action="@{/services/create}" th:object="${services}" method="post">
						<div class="col-lg-6">
							<div class="form-group">
								<label for="servicename">服务名称</label>
								<div class="input-group">
									<input type="text" class="form-control" name="InputServicename"
                                           required="required" id="InputServicename"
										th:field="*{servicename}" placeholder="Enter Name"/> 
									<span class="input-group-addon"> 
									<span class="glyphicon glyphicon-asterisk"></span>
									</span>
								</div>
							</div>
							<div class="form-group">
								<label for="category">所属分类</label> 
								<select class="form-control" id="select" th:field="*{category}">
									<option th:value="硬件资源类">硬件资源类</option>
									<option th:value="软件资源类">软件资源类</option>
									<option th:value="制造服务类">制造服务类</option>
									<option th:value="制造能力类">制造能力类</option>
								</select>
							</div>
							<div class="form-group">
								<label for="field">所属行业</label>
								<select class="form-control" id="select" th:field="*{field}">
									<option th:value="半导体" th:text="半导体"></option>
									<option th:value="制造工业" th:text="制造工业">制造工业</option>
									<option th:value="钢铁" th:text="钢铁">钢铁</option>
									<option th:value="软件服务" th:text="软件服务">软件服务</option>
									<option th:value="航空航天" th:text="航空航天">航空航天</option>
									<option th:value="轨道交通" th:text="轨道交通">轨道交通</option>
									<option th:value="高新信息技术" th:text="高新技术">高新信息技术</option>
									<option th:value="工程机械" th:text="工程机械">工程机械</option>
									<option th:value="电器仪表" th:text="电器仪表">电器仪表</option>
								</select>
							</div>
						</div>
						<div class="col-lg-6">
                            <div class="form-group">
                                <label for="capacity">最大服务容量</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="InputCapacity"
                                           required="required" id="InputInputCapacity"
                                           th:field="*{capacity}" placeholder="Enter capacity"/>
                                    <span class="input-group-addon">
									<span class="glyphicon glyphicon-asterisk"></span>
									</span>
                                </div>
                            </div>
							<div class="form-group">
								<label for="summary">资源描述</label>
								<div class="input-group">
									<textarea name="InputSummary" id="InputSummary"
											  class="form-control" rows="3" th:field="*{summary}">
									</textarea>
									<span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
								</div>
							</div>
						</div>
						<input type="submit" name="submit" id="submit" value="下一步"
                               class="btn btn-info pull-right" />
					</form>
				</div>
				<div class="tab-pane fade" id="soft-resource">
					<form action="#" th:action="@{/services/create}" th:object="${services}" method="post">
						<div class="col-lg-6">
							<div class="form-group">
								<label for="servicename">服务名称</label>
								<div class="input-group">
									<input type="text" class="form-control" name="InputServicename"
                                           required="required" id="InputServicename"
										th:field="*{servicename}" placeholder="Enter Name"/> 
									<span class="input-group-addon"> 
									<span class="glyphicon glyphicon-asterisk"></span>
									</span>
								</div>
							</div>
							<div class="form-group">
								<label for="owner">发布人</label>
								<div class="input-group">
									<input type="text" class="form-control" id="InputOwner"
                                           required="required" name="InputOwner" th:field="*{owner}" placeholder="Enter Owner" />
									<span class="input-group-addon"> 
									<span class="glyphicon glyphicon-asterisk"></span>
									</span>
								</div>
							</div>
							<div class="form-group">
								<label for="category">所属分类</label> 
								<select class="form-control" id="select" th:field="*{category}">
									<option th:value="软件资源类">软件资源类</option>
									<option th:value="硬件资源类">硬件资源类</option>
									<option th:value="制造服务类">制造服务类</option>
									<option th:value="制造能力类">制造能力类</option>
								</select>
							</div>
							<div class="form-group">
								<label for="field">所属行业</label>
								<select class="form-control" id="select" th:field="*{field}">
									<option th:value="半导体" th:text="半导体"></option>
									<option th:value="制造工业" th:text="制造工业">制造工业</option>
									<option th:value="钢铁" th:text="钢铁">钢铁</option>
									<option th:value="软件服务" th:text="软件服务">软件服务</option>
									<option th:value="航空航天" th:text="航空航天">航空航天</option>
									<option th:value="轨道交通" th:text="轨道交通">轨道交通</option>
									<option th:value="高新信息技术" th:text="高新技术">高新信息技术</option>
									<option th:value="工程机械" th:text="工程机械">工程机械</option>
									<option th:value="电器仪表" th:text="电器仪表">电器仪表</option>
								</select>
							</div>
							<div class="form-group">
								<label for="summary">资源描述</label>
								<div class="input-group">
									<textarea name="InputSummary" id="InputSummary"
										class="form-control" rows="3" th:field="*{summary}">
									</textarea>
									<span class="input-group-addon">
									<span class="glyphicon glyphicon-asterisk"></span>
									</span>
								</div>
							</div>
							<input type="submit" name="submit" id="submit" value="下一步"
								class="btn btn-info pull-right" />
						</div>
					</form>
				</div>
				<div class="tab-pane fade" id="manufacturing-services">
					<form action="#" th:action="@{/services/create}" th:object="${services}" method="post">
						<div class="col-lg-6">
							<div class="form-group">
								<label for="servicename">服务名称</label>
								<div class="input-group">
									<input type="text" class="form-control" name="InputServicename"
                                           required="required" id="InputServicename1"
										th:field="*{servicename}" placeholder="Enter Name"/> 
									<span class="input-group-addon"> 
									<span class="glyphicon glyphicon-asterisk"></span>
									</span>
								</div>
							</div>
							<div class="form-group">
								<label for="owner">发布人</label>
								<div class="input-group">
									<input type="text" class="form-control" id="InputOwner1"
                                           required="required" name="InputOwner" th:field="*{owner}" placeholder="Enter Owner" />
									<span class="input-group-addon"> 
									<span class="glyphicon glyphicon-asterisk"></span>
									</span>
								</div>
							</div>
							<div class="form-group">
								<label for="category">所属分类</label> 
								<select class="form-control" id="select1" th:field="*{category}">
									<option th:value="制造服务类">制造服务类</option>
									<option th:value="制造能力类">制造能力类</option>
									<option th:value="硬件资源类">硬件资源类</option>
									<option th:value="软件资源类">软件资源类</option>
								</select>
							</div>
							<div class="form-group">
								<label for="field">所属行业</label>
								<select class="form-control" id="select2" th:field="*{field}">
									<option th:value="半导体" th:text="半导体"></option>
									<option th:value="制造工业" th:text="制造工业">制造工业</option>
									<option th:value="钢铁" th:text="钢铁">钢铁</option>
									<option th:value="软件服务" th:text="软件服务">软件服务</option>
									<option th:value="航空航天" th:text="航空航天">航空航天</option>
									<option th:value="轨道交通" th:text="轨道交通">轨道交通</option>
									<option th:value="高新信息技术" th:text="高新技术">高新信息技术</option>
									<option th:value="工程机械" th:text="工程机械">工程机械</option>
									<option th:value="电器仪表" th:text="电器仪表">电器仪表</option>
								</select>
							</div>
							<div class="form-group">
								<label for="summary">资源描述</label>
								<div class="input-group">
									<textarea name="InputSummary" id="InputSummary"
										class="form-control" rows="3" th:field="*{summary}">
									</textarea>
									<span class="input-group-addon">
									<span class="glyphicon glyphicon-asterisk"></span>
									</span>
								</div>
							</div>
							<input type="submit" name="submit" id="submit" value="下一步"
								class="btn btn-info pull-right"/>
						</div>
					</form>
				</div>
				<div class="tab-pane fade" id="assist-resource">
					<form action="#" th:action="@{/services/create}" th:object="${services}" method="post">
						<div class="col-lg-6">
							<div class="form-group">
								<label for="servicename">服务名称</label>
								<div class="input-group">
									<input type="text" class="form-control" required="required" id="InputServicename"
                                           th:field="*{servicename}" placeholder="Enter Name"/>
									<span class="input-group-addon"> 
									<span class="glyphicon glyphicon-asterisk"></span>
									</span>
								</div>
							</div>
							<div class="form-group">
								<label for="owner">发布人</label>
								<div class="input-group">
									<input type="text" class="form-control" id="InputOwner"
                                           required="required" th:field="*{owner}" placeholder="Enter Owner" />
									<span class="input-group-addon"> 
									<span class="glyphicon glyphicon-asterisk"></span>
									</span>
								</div>
							</div>
							<div class="form-group">
								<label for="category">所属分类</label> 
								<select class="form-control" id="select" th:field="*{category}">
									<option th:value="制造能力类">制造能力类</option>
									<option th:value="硬件资源类">硬件资源类</option>
									<option th:value="软件资源类">软件资源类</option>
									<option th:value="制造服务类">制造服务类</option>
								</select>
							</div>
							<div class="form-group">
								<label for="field">所属行业</label>
								<select class="form-control" id="select" th:field="*{field}">
									<option th:value="半导体" th:text="半导体"></option>
									<option th:value="制造工业" th:text="制造工业">制造工业</option>
									<option th:value="钢铁" th:text="钢铁">钢铁</option>
									<option th:value="软件服务" th:text="软件服务">软件服务</option>
									<option th:value="航空航天" th:text="航空航天">航空航天</option>
									<option th:value="轨道交通" th:text="轨道交通">轨道交通</option>
									<option th:value="高新信息技术" th:text="高新技术">高新信息技术</option>
									<option th:value="工程机械" th:text="工程机械">工程机械</option>
									<option th:value="电器仪表" th:text="电器仪表">电器仪表</option>
								</select>
							</div>
							<div class="form-group">
								<label for="summary">资源描述</label>
								<div class="input-group">
									<textarea name="InputSummary" id="InputSummary"
										class="form-control" rows="3" th:field="*{summary}">
									</textarea>
									<span class="input-group-addon">
									<span class="glyphicon glyphicon-asterisk"></span>
									</span>
								</div>
							</div>
							<input type="submit" name="submit" id="submit" value="下一步"
								class="btn btn-info pull-right"/>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
<style>
.main-content {
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}
</style>
</html>