<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>创建硬件资源</title>
<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="../../css/font-awesome.min.css" />
<link rel="stylesheet" href="../../css/matrix-style.css"/>
<link type="text/css" href="../../css/theme.css" rel="stylesheet"/>
<script type="text/javascript" src="../../js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../js/xlsx.core.min.js"></script>
</head>
<body>
	<div class="container">
		<div id="content-header">
			<div id="breadcrumb">
				<a href="/" title="Go to Home" class="tip-bottom"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>首页</a>
				<a href="/services" class="current">服务管理</a><a href="#" class="current">硬资源发布</a>
			</div>
		</div>
		<div class="container-fuild tab-content" style="margin-top: 120px;">
            <form th:action="@{/services/hardresource/formcreate}"
                th:object="${hardresource}" method="post">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>资源名称</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="InputName"
                                id="InputName" th:field="*{name}" placeholder="Enter Name" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-asterisk"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>资源编号</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="InputCode"
                                   id="InputCode" th:field="*{resourceCode}" placeholder="Enter resource code"/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-asterisk"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>资源分类</label>
                        <select class="form-control" id="select" th:field="*{category}">
                            <option th:value="制造设备">制造设备</option>
                            <option th:value="计算资源">计算资源</option>
                            <option th:value="生产物料">生产物料</option>
                            <option th:value="其他">其他</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>资源管理者</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="InputDeviceOwner"
                                id="InputDeviceOwner" th:field="*{owner}"
                                placeholder="Enter Owner" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-asterisk"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>开始使用日期</label>
                        <div class="input-group">
                            <input type="date" class="form-control"
                                name="InputProductiondate" id="InputProductiondate"
                                th:field="*{useDate}"
                                placeholder="Enter Production Date" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-asterisk"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>功能名称</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="InputFunctionName"
                                id="InputFunctionName" th:field="*{functionName}"
                                placeholder="Enter Function Name" />
                            <span class="input-group-addon"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>功能描述</label>
                        <div class="input-group">
                            <textarea name="InputFunctionDescription"
                                id="InputFunctionDescription" class="form-control" rows="3"
                                th:field="*{functionDescription}">
                            </textarea>
                            <span class="input-group-addon"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>资源本体描述文件</label>
                        <div class="input-group">
                            <input type="file" id="file" name="file"/>
                        </div>
                    </div>
                    <input type="submit" name="submit" id="submit" value="提交"
                        th:onchange="is" class="btn btn-lg btn-info pull-right" />
                </div>
            </form>
		</div>
	</div>
</body>
<script>
	function handleFileSelect(evt) {
	    var files = evt.target.files; // FileList object	
	    // files is a FileList of File objects. List some properties.
	    var output = [];
	    for (var i = 0, f; f = files[i]; i++) {
	      output.push('<li>',f.size, ' bytes, last modified: ',
	                  f.lastModifiedDate ? f.lastModifiedDate.toLocaleDateString() : 'n/a', '</li>');
	    }
	    document.getElementById('list').innerHTML = '<ul>' + output.join('') + '</ul>';
	}
	document.getElementById('files').addEventListener('change', handleFileSelect, false);

	$(function(){
        $('#files').change(function(e) {
            var files = e.target.files;
            var fileReader = new FileReader();
            fileReader.onload = function(ev) {
                try {
                    var data = ev.target.result,
                        workbook = XLSX.read(data, {
                            type: 'binary'
                        }), // 以二进制流方式读取得到整份excel表格对象
                        items = []; // 存储获取到的数据
                } catch (e) {
                    console.log('文件类型不正确');
                    return;
                }
                // 遍历每张表读取
                for (var sheet in workbook.Sheets) {
                    if (workbook.Sheets.hasOwnProperty(sheet)) {
                        items = items.concat(XLSX.utils.sheet_to_json(workbook.Sheets[sheet]));
                        break;//只取第一个Sheets
                    }
                }
                print_data(items);
            };
            fileReader.readAsBinaryString(files[0]);// 以二进制方式打开文件
        });
    });

    //处理格式化后的json数据
    function print_data(data){
        $.each(data, function(key,val){
            console.log(val.表头1);
            $.each(val, function(k,v){
                console.log(k + "  ->  " + v);
            });
        });
        var output = JSON.stringify(data);
        document.getElementById('file_content').innerText = output;
    }
    var upload_data = document.getElementById('file_content').innerText;
    //上传json
    function uploadFile() {
    	var files = document.getElementById('files').files;
    	var form = $('#files')[0];
        var data = new FormData(form);
        data.append("CustomField", "This is some extra data, testing");
    	$.ajax({
        	method:"post",
        	url:"/hardresource/filecreate",
        	data:data,
        	success:function(data){
        	    //do something with data.
        	}
        });
    }
    $(document).ready(function () {
        $("#publishService1").click(function (event) {
            //stop submit the form, we will post it manually.
            event.preventDefault();

            uploadFile(upload_data);
        });
    });
</script>
</html>