<!DOCTYPE html>
<html lang = "en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>创建软件资源</title>
	<link rel="stylesheet" type="text/css"
		href="../../css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css"
		href="../../css/font-awesome.min.css" />
	<script type="text/javascript" src="../../js/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="page-header">
			<h1>软资源发布</h1>
		</div>
		<div class="container">
			<div class="row">
				<form action="#" th:action="@{/services/hardresource/create}" th:object="${softresource}" method="post">
					<div class="col-lg-6">
						<div class="form-group">
							<label for="servicename">服务名称</label>
							<div class="input-group">
								<input type="text" class="form-control" name="InputName"
									id="InputName"
									th:field="*{name}" placeholder="Enter Name"/> 
								<span class="input-group-addon"> 
								<span class="glyphicon glyphicon-asterisk"></span>
								</span>
							</div>
						</div>
						<div class="form-group">
							<label for="owner">软件管理者</label>
							<div class="input-group">
								<input type="text" class="form-control" name="InputOwner"
									id="InputOwner"
									th:field="*{owner}" placeholder="Enter Owner"/> 
								<span class="input-group-addon"> 
								<span class="glyphicon glyphicon-asterisk"></span>
								</span>
							</div>
						</div>	
						<div class="form-group">
							<label for="devicecode">编号</label>
							<div class="input-group">
								<input type="text" class="form-control" name="InputDevicecode"
									id="InputDevicecode"
									th:field="*{devicecode}" placeholder="Enter Devicecode"/> 
								<span class="input-group-addon"> 
								<span class="glyphicon glyphicon-asterisk"></span>
								</span>
							</div>
						</div>
						<div class="form-group">
							<label for="devicecategory">所属类别</label>
							<div class="input-group">
								<input type="text" class="form-control" name="InputCategory"
									id="InputCategory"
									th:field="*{devicecategory}" placeholder="Enter Category"/> 
								<span class="input-group-addon"> 
								<span class="glyphicon glyphicon-asterisk"></span>
								</span>
							</div>
						</div>
						<div class="form-group">
							<label for="productiondate">生产日期</label>
							<div class="input-group">
								<input type="date" class="form-control" name="InputProductiondate"
									id="InputProductiondate"
									th:field="*{productiondate}" placeholder="Enter Production Date"/> 
								<span class="input-group-addon"> 
								<span class="glyphicon glyphicon-asterisk"></span>
								</span>
							</div>
						</div>
						<div class="form-group">
							<label for="functionname">功能名称</label>
							<div class="input-group">
								<input type="date" class="form-control" name="InputFunctionname"
									id="InputFunctionname"
									th:field="*{functionname}" placeholder="Enter Function Name"/> 
								<span class="input-group-addon"> 
								<span class="glyphicon glyphicon-asterisk"></span>
								</span>
							</div>
						</div>																					
						<div class="form-group">
							<label for="functiondescription">功能描述</label>
							<div class="input-group">
								<textarea name="InputFunctiondescription" id="InputFunctiondescription"
									class="form-control" rows="3" th:field="*{functiondescription}">
								</textarea>
								<span class="input-group-addon">
								<span class="glyphicon glyphicon-asterisk"></span>
								</span>
							</div>
						</div>
						<div class="form-group">
							<label for="summary">资源描述</label>
							<div class="input-group">
								<textarea name="InputDescription" id="InputDescription"
									class="form-control" rows="3" th:field="*{description}">
								</textarea>
								<span class="input-group-addon">
								<span class="glyphicon glyphicon-asterisk"></span>
								</span>
							</div>
						</div>
						<input type="submit" name="submit" id="submit" value="提交"
							class="btn btn-info pull-right" />
					</div>
				</form>
				<div class="col-lg-5 col-md-push-1">
					<div class="col-md-12">
						<div class="alert alert-success">
							<strong><span class="glyphicon glyphicon-ok"></span>
								成功创建服务</strong>
						</div>
						<div class="alert alert-danger">
							<span class="glyphicon glyphicon-remove"></span><strong>
								错误,请重新填写</strong>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>