<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Services : View</title>
</head>
<body>
	<h2 layout:fragment="header">服务介绍</h2>
	<div layout:fragment="content" class="container">
		<div class="alert alert-success" th:if="${globalMessage}"
			th:text="${globalMessage}">Some Success service</div>
		<div class="pull-right">
			<a th:href="@{/}" href="list.html"> 已有服务 </a>
		</div>
		<div class="pull-right">
			<a th:href="@{/rdf_xml}"> rdf文件 </a>
		</div>
		<dl>
			<dt>ID</dt>
			<dd id="id" th:text="${message.id}">123</dd>
			<dt>日期</dt>
			<dd id="created" th:text="${#calendars.format(message.created)}">
				January 10, 2017 8:17:16 AM CDT</dd>
			<dt>服务名称</dt>
			<dd id="summary" th:text="${message.summary}">A short summary...</dd>
			<dt>所属企业</dt>
			<dd id="owner" th:text="${message.owner}">A short summary...</dd>
			<dt>所属类别</dt>
			<dd id="catagory" th:text="${message.catagory}">A short summary...</dd>
			<dt><a th:href="@{/rdf_model}"> 描述模型 </a></dt>
			<dd id="file" th:text="${message.file}">A short summary...</dd>
			<dt>服务概要</dt>
			<dd id="text" th:text="${message.text}">A detailed message that
				is longer than the summary.</dd>
		</dl>
		<div class="pull-left">
			<a href="messages" th:href="@{'/delete/' + ${message.id}}">
				删除 </a> | <a href="form.html"
				th:href="@{'/modify/' + ${message.id}}"> 修改 </a>
		</div>
	</div>
</body>
</html>
