<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>需求描述及发布</title>
<link rel="stylesheet" type="text/css"
	href="../../css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css"
	href="../../css/font-awesome.min.css" />
<script type="text/javascript" src="../../js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="page-header">
			<h1>需求描述及发布</h1>
		</div>
		<div class="container-fluid">
			<table>
				<tbody>
					<tr>
						<td>
						<script type="text/javascript" language="javascript">
							function SelectImg(obj) {
								var hid = document
										.getElementById("ctl00_ContentPlaceHolder1_LodFile_hidTxtLocPath");
								var ctl = document
										.getElementById("ctl00_ContentPlaceHolder1_LodFile_fuFile2");
								hid.value = ctl.value;
								__doPostBack(
										"ctl00$ContentPlaceHolder1$LodFile$lbtUpLoadTxt",
										"");
								return false;
							}
							function checkright() {
								var zyname = document
										.getElementById("ctl00_ContentPlaceHolder1_LodFile_txtZyName").value;
								if (trimvalue(zyname) == "") {
									alert("请填写资源名称！");
									return false;
								}
								var strReg = "";
								var r;
								var txtSubMon1 = document
										.getElementById("ctl00_ContentPlaceHolder1_LodFile_txtSubMon1").value;
								var lbMsg = document
										.getElementById("ctl00_ContentPlaceHolder1_LodFile_lbMsg");
								strReg = "^\\d+$";
								r = txtSubMon1.search(strReg);
								if (r == -1) {
									lbMsg.innerHTML = "金币数应为非负整数！";
									return false;
								} else {
									lbMsg.innerHTML = "";
								}
							}
						</script>
							<div id="ctl00_ContentPlaceHolder1_LodFile_UpdatePanel1">
								<div style="text-align: center">
									<table width="100%" border="1" cellpadding="0" cellspacing="0"
										align="center">
										<tbody>
											<tr>
												<td height="30" align="left" valign="top" 
													style="width: 200px;">类型：</td>
												<td valign="top" align="left">
													<table id="ctl00_ContentPlaceHolder1_LodFile_rbZyUpType"
														border="0">
														<tbody>
															<tr>
																<td><input id="UpType_0" type="radio" name="UpType" value="1" checked="checked"/>
																<label for="UpType_0">2D图库</label>
																</td>
																<td><input id="UpType_1" type="radio" name="UpType" value="2"
																	onclick="setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$LodFile$rbZyUpType$1\',\'\')', 0)"/><label
																	for="UpType_1">2D图纸</label></td>
																<td><input id="UpType_2" type="radio" name="UpType" value="3"
																	onclick="setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$LodFile$rbZyUpType$2\',\'\')', 0)"/><label
																	for="UpType_2">3D图库</label></td>
																<td><input id="UpType_3" type="radio" name="UpType" value="4"
																	onclick="setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$LodFile$rbZyUpType$3\',\'\')', 0)"/><label
																	for="UpType_3">3D模型</label></td>
																<td><input id="UpType_4" type="radio" name="UpType" value="5"
																	onclick="setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$LodFile$rbZyUpType$4\',\'\')', 0)"/><label
																	for="UpType_4">文档</label></td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
											<tr style="display: none;">
												<td height="25" align="left" width="100px" valign="top"
													style="padding-top: 8px;">产品：</td>
												<td valign="top" align="left">
													<table id="ctl00_ContentPlaceHolder1_LodFile_rbZyProd"
														border="0">
														<tbody>
															<tr>
																<td><input
																	id="ctl00_ContentPlaceHolder1_LodFile_rbZyProd_0"
																	type="radio"
																	name="ctl00$ContentPlaceHolder1$LodFile$rbZyProd"
																	value="1" checked="checked"/><label
																	for="ctl00_ContentPlaceHolder1_LodFile_rbZyProd_0">电子图板</label></td>
																<td><input
																	id="ctl00_ContentPlaceHolder1_LodFile_rbZyProd_1"
																	type="radio"
																	name="ctl00$ContentPlaceHolder1$LodFile$rbZyProd"
																	value="2"
																	onclick="setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$LodFile$rbZyProd$1\',\'\')', 0)"/><label
																	for="ctl00_ContentPlaceHolder1_LodFile_rbZyProd_1">实体设计</label></td>
																<td><input
																	id="ctl00_ContentPlaceHolder1_LodFile_rbZyProd_2"
																	type="radio"
																	name="ctl00$ContentPlaceHolder1$LodFile$rbZyProd"
																	value="3"
																	onclick="setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$LodFile$rbZyProd$2\',\'\')', 0)"/><label
																	for="ctl00_ContentPlaceHolder1_LodFile_rbZyProd_2">图文档</label></td>
																<td><input
																	id="ctl00_ContentPlaceHolder1_LodFile_rbZyProd_3"
																	type="radio"
																	name="ctl00$ContentPlaceHolder1$LodFile$rbZyProd"
																	value="4"
																	onclick="setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$LodFile$rbZyProd$3\',\'\')', 0)"/><label
																	for="ctl00_ContentPlaceHolder1_LodFile_rbZyProd_3">制造工程师</label></td>
																<td><input
																	id="ctl00_ContentPlaceHolder1_LodFile_rbZyProd_4"
																	type="radio"
																	name="ctl00$ContentPlaceHolder1$LodFile$rbZyProd"
																	value="5"
																	onclick="setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$LodFile$rbZyProd$4\',\'\')', 0)"/><label
																	for="ctl00_ContentPlaceHolder1_LodFile_rbZyProd_4">网络DNC</label></td>
																<td><input
																	id="ctl00_ContentPlaceHolder1_LodFile_rbZyProd_5"
																	type="radio"
																	name="ctl00$ContentPlaceHolder1$LodFile$rbZyProd"
																	value="6"
																	onclick="setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$LodFile$rbZyProd$5\',\'\')', 0)"/><label
																	for="ctl00_ContentPlaceHolder1_LodFile_rbZyProd_5">数控车</label></td>
																<td><input
																	id="ctl00_ContentPlaceHolder1_LodFile_rbZyProd_6"
																	type="radio"
																	name="ctl00$ContentPlaceHolder1$LodFile$rbZyProd"
																	value="7"
																	onclick="setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$LodFile$rbZyProd$6\',\'\')', 0)"/><label
																	for="ctl00_ContentPlaceHolder1_LodFile_rbZyProd_6">线切割</label></td>
																<td><input
																	id="ctl00_ContentPlaceHolder1_LodFile_rbZyProd_7"
																	type="radio"
																	name="ctl00$ContentPlaceHolder1$LodFile$rbZyProd"
																	value="9"
																	onclick="setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$LodFile$rbZyProd$7\',\'\')', 0)"/><label
																	for="ctl00_ContentPlaceHolder1_LodFile_rbZyProd_7">工艺图表</label></td>
															</tr>
															<tr>
																<td><input
																	id="ctl00_ContentPlaceHolder1_LodFile_rbZyProd_8"
																	type="radio"
																	name="ctl00$ContentPlaceHolder1$LodFile$rbZyProd"
																	value="11"
																	onclick="setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$LodFile$rbZyProd$8\',\'\')', 0)"/><label
																	for="ctl00_ContentPlaceHolder1_LodFile_rbZyProd_8">PLM整体</label></td>
																<td><input
																	id="ctl00_ContentPlaceHolder1_LodFile_rbZyProd_9"
																	type="radio"
																	name="ctl00$ContentPlaceHolder1$LodFile$rbZyProd"
																	value="12"
																	onclick="setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$LodFile$rbZyProd$9\',\'\')', 0)"/><label
																	for="ctl00_ContentPlaceHolder1_LodFile_rbZyProd_9">教学</label></td>
																<td><input
																	id="ctl00_ContentPlaceHolder1_LodFile_rbZyProd_10"
																	type="radio"
																	name="ctl00$ContentPlaceHolder1$LodFile$rbZyProd"
																	value="13"
																	onclick="setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$LodFile$rbZyProd$10\',\'\')', 0)"/><label
																	for="ctl00_ContentPlaceHolder1_LodFile_rbZyProd_10">题库</label></td>
																<td><input
																	id="ctl00_ContentPlaceHolder1_LodFile_rbZyProd_11"
																	type="radio"
																	name="ctl00$ContentPlaceHolder1$LodFile$rbZyProd"
																	value="14"
																	onclick="setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$LodFile$rbZyProd$11\',\'\')', 0)"/><label
																	for="ctl00_ContentPlaceHolder1_LodFile_rbZyProd_11">三维切割</label></td>
																<td><input
																	id="ctl00_ContentPlaceHolder1_LodFile_rbZyProd_12"
																	type="radio"
																	name="ctl00$ContentPlaceHolder1$LodFile$rbZyProd"
																	value="15"
																	onclick="setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$LodFile$rbZyProd$12\',\'\')', 0)"/><label
																	for="ctl00_ContentPlaceHolder1_LodFile_rbZyProd_12">刻字</label></td>
																<td><input
																	id="ctl00_ContentPlaceHolder1_LodFile_rbZyProd_13"
																	type="radio"
																	name="ctl00$ContentPlaceHolder1$LodFile$rbZyProd"
																	value="16"
																	onclick="setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$LodFile$rbZyProd$13\',\'\')', 0)"/><label
																	for="ctl00_ContentPlaceHolder1_LodFile_rbZyProd_13">激光和等离子切割</label></td>
																<td><input
																	id="ctl00_ContentPlaceHolder1_LodFile_rbZyProd_14"
																	type="radio"
																	name="ctl00$ContentPlaceHolder1$LodFile$rbZyProd"
																	value="8"
																	onclick="setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$LodFile$rbZyProd$14\',\'\')', 0)"/><label
																	for="ctl00_ContentPlaceHolder1_LodFile_rbZyProd_14">其它</label></td>
																<td></td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
											<tr style="display: none;">
												<td height="25" align="left">资源类型：</td>
												<td valign="top" align="left">
													<table id="ctl00_ContentPlaceHolder1_LodFile_rbZyType"
														border="0">
														<tbody>
															<tr>
																<td><input
																	id="ctl00_ContentPlaceHolder1_LodFile_rbZyType_0"
																	type="radio"
																	name="ctl00$ContentPlaceHolder1$LodFile$rbZyType"
																	value="1" checked="checked"/><label
																	for="ctl00_ContentPlaceHolder1_LodFile_rbZyType_0">2D图库</label></td>
																<td><input
																	id="ctl00_ContentPlaceHolder1_LodFile_rbZyType_1"
																	type="radio"
																	name="ctl00$ContentPlaceHolder1$LodFile$rbZyType"
																	value="2"
																	onclick="setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$LodFile$rbZyType$1\',\'\')', 0)"/><label
																	for="ctl00_ContentPlaceHolder1_LodFile_rbZyType_1">2D图纸</label></td>
																<td><input
																	id="ctl00_ContentPlaceHolder1_LodFile_rbZyType_2"
																	type="radio"
																	name="ctl00$ContentPlaceHolder1$LodFile$rbZyType"
																	value="3"
																	onclick="setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$LodFile$rbZyType$2\',\'\')', 0)"/><label
																	for="ctl00_ContentPlaceHolder1_LodFile_rbZyType_2">软件</label></td>
																<td><input
																	id="ctl00_ContentPlaceHolder1_LodFile_rbZyType_3"
																	type="radio"
																	name="ctl00$ContentPlaceHolder1$LodFile$rbZyType"
																	value="4"
																	onclick="setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$LodFile$rbZyType$3\',\'\')', 0)"/><label
																	for="ctl00_ContentPlaceHolder1_LodFile_rbZyType_3">视频</label></td>
																<td><input
																	id="ctl00_ContentPlaceHolder1_LodFile_rbZyType_4"
																	type="radio"
																	name="ctl00$ContentPlaceHolder1$LodFile$rbZyType"
																	value="5"
																	onclick="setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$LodFile$rbZyType$4\',\'\')', 0)"/><label
																	for="ctl00_ContentPlaceHolder1_LodFile_rbZyType_4">文档和软件工具</label></td>
																<td><input
																	id="ctl00_ContentPlaceHolder1_LodFile_rbZyType_5"
																	type="radio"
																	name="ctl00$ContentPlaceHolder1$LodFile$rbZyType"
																	value="13"
																	onclick="setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$LodFile$rbZyType$5\',\'\')', 0)"/><label
																	for="ctl00_ContentPlaceHolder1_LodFile_rbZyType_5">3D图库</label></td>
																<td><input
																	id="ctl00_ContentPlaceHolder1_LodFile_rbZyType_6"
																	type="radio"
																	name="ctl00$ContentPlaceHolder1$LodFile$rbZyType"
																	value="14"
																	onclick="setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$LodFile$rbZyType$6\',\'\')', 0)"/><label
																	for="ctl00_ContentPlaceHolder1_LodFile_rbZyType_6">3D模型</label></td>
																<td><input
																	id="ctl00_ContentPlaceHolder1_LodFile_rbZyType_7"
																	type="radio"
																	name="ctl00$ContentPlaceHolder1$LodFile$rbZyType"
																	value="7"
																	onclick="setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$LodFile$rbZyType$7\',\'\')', 0)"/><label
																	for="ctl00_ContentPlaceHolder1_LodFile_rbZyType_7">教学资源</label></td>
																<td><input
																	id="ctl00_ContentPlaceHolder1_LodFile_rbZyType_8"
																	type="radio"
																	name="ctl00$ContentPlaceHolder1$LodFile$rbZyType"
																	value="8"
																	onclick="setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$LodFile$rbZyType$8\',\'\')', 0)"/><label
																	for="ctl00_ContentPlaceHolder1_LodFile_rbZyType_8">课程</label></td>
																<td><input
																	id="ctl00_ContentPlaceHolder1_LodFile_rbZyType_9"
																	type="radio"
																	name="ctl00$ContentPlaceHolder1$LodFile$rbZyType"
																	value="9"
																	onclick="setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$LodFile$rbZyType$9\',\'\')', 0)"/><label
																	for="ctl00_ContentPlaceHolder1_LodFile_rbZyType_9">国赛</label></td>
																<td><input
																	id="ctl00_ContentPlaceHolder1_LodFile_rbZyType_10"
																	type="radio"
																	name="ctl00$ContentPlaceHolder1$LodFile$rbZyType"
																	value="10"
																	onclick="setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$LodFile$rbZyType$10\',\'\')', 0)"/><label
																	for="ctl00_ContentPlaceHolder1_LodFile_rbZyType_10">省地比赛</label></td>
																<td><input
																	id="ctl00_ContentPlaceHolder1_LodFile_rbZyType_11"
																	type="radio"
																	name="ctl00$ContentPlaceHolder1$LodFile$rbZyType"
																	value="11"
																	onclick="setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$LodFile$rbZyType$11\',\'\')', 0)"/><label
																	for="ctl00_ContentPlaceHolder1_LodFile_rbZyType_11">职业鉴定</label></td>
																<td><input
																	id="ctl00_ContentPlaceHolder1_LodFile_rbZyType_12"
																	type="radio"
																	name="ctl00$ContentPlaceHolder1$LodFile$rbZyType"
																	value="12"
																	onclick="setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$LodFile$rbZyType$12\',\'\')', 0)"/><label
																	for="ctl00_ContentPlaceHolder1_LodFile_rbZyType_12">练习题库</label></td>
																<td><input
																	id="ctl00_ContentPlaceHolder1_LodFile_rbZyType_13"
																	type="radio"
																	name="ctl00$ContentPlaceHolder1$LodFile$rbZyType"
																	value="15"
																	onclick="setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$LodFile$rbZyType$13\',\'\')', 0)"/><label
																	for="ctl00_ContentPlaceHolder1_LodFile_rbZyType_13">文泰切割图库</label></td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
											<tr style="display: none;">
												<td height="25" align="left">版本：</td>
												<td valign="top" align="left">
													<table id="ctl00_ContentPlaceHolder1_LodFile_cbZyProdVer"
														onclick="return selectedchange()" border="0">
														<tbody>
															<tr>
																<td><input
																	id="ctl00_ContentPlaceHolder1_LodFile_cbZyProdVer_0"
																	type="checkbox"
																	name="ctl00$ContentPlaceHolder1$LodFile$cbZyProdVer$0"
																	checked="checked"/><label
																	for="ctl00_ContentPlaceHolder1_LodFile_cbZyProdVer_0">V2016</label></td>
																<td><input
																	id="ctl00_ContentPlaceHolder1_LodFile_cbZyProdVer_1"
																	type="checkbox"
																	name="ctl00$ContentPlaceHolder1$LodFile$cbZyProdVer$1"/><label
																	for="ctl00_ContentPlaceHolder1_LodFile_cbZyProdVer_1">V2015</label></td>
																<td><input
																	id="ctl00_ContentPlaceHolder1_LodFile_cbZyProdVer_2"
																	type="checkbox"
																	name="ctl00$ContentPlaceHolder1$LodFile$cbZyProdVer$2"/><label
																	for="ctl00_ContentPlaceHolder1_LodFile_cbZyProdVer_2">V2013</label></td>
																<td><input
																	id="ctl00_ContentPlaceHolder1_LodFile_cbZyProdVer_3"
																	type="checkbox"
																	name="ctl00$ContentPlaceHolder1$LodFile$cbZyProdVer$3"/><label
																	for="ctl00_ContentPlaceHolder1_LodFile_cbZyProdVer_3">V2011</label></td>
																<td><input
																	id="ctl00_ContentPlaceHolder1_LodFile_cbZyProdVer_4"
																	type="checkbox"
																	name="ctl00$ContentPlaceHolder1$LodFile$cbZyProdVer$4"/><label
																	for="ctl00_ContentPlaceHolder1_LodFile_cbZyProdVer_4">V2009</label></td>
																<td><input
																	id="ctl00_ContentPlaceHolder1_LodFile_cbZyProdVer_5"
																	type="checkbox"
																	name="ctl00$ContentPlaceHolder1$LodFile$cbZyProdVer$5"/><label
																	for="ctl00_ContentPlaceHolder1_LodFile_cbZyProdVer_5">V2007</label></td>
																<td><input
																	id="ctl00_ContentPlaceHolder1_LodFile_cbZyProdVer_6"
																	type="checkbox"
																	name="ctl00$ContentPlaceHolder1$LodFile$cbZyProdVer$6"/><label
																	for="ctl00_ContentPlaceHolder1_LodFile_cbZyProdVer_6">V2005</label></td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
											<tr>
												<td height="25" align="left">大类：</td>
												<td valign="top" align="left">
													<table id="ctl00_ContentPlaceHolder1_LodFile_rbZyClassBig"
														border="0">
														<tbody>
															<tr>
																<td><input
																	id="ctl00_ContentPlaceHolder1_LodFile_rbZyClassBig_0"
																	type="radio"
																	name="ctl00$ContentPlaceHolder1$LodFile$rbZyClassBig"
																	value="1" checked="checked"/><label
																	for="ctl00_ContentPlaceHolder1_LodFile_rbZyClassBig_0">国家标准</label></td>
																<td><input
																	id="ctl00_ContentPlaceHolder1_LodFile_rbZyClassBig_1"
																	type="radio"
																	name="ctl00$ContentPlaceHolder1$LodFile$rbZyClassBig"
																	value="2"
																	onclick="setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$LodFile$rbZyClassBig$1\',\'\')', 0)"/><label
																	for="ctl00_ContentPlaceHolder1_LodFile_rbZyClassBig_1">机械行业标准</label></td>
																<td><input
																	id="ctl00_ContentPlaceHolder1_LodFile_rbZyClassBig_2"
																	type="radio"
																	name="ctl00$ContentPlaceHolder1$LodFile$rbZyClassBig"
																	value="19"
																	onclick="setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$LodFile$rbZyClassBig$2\',\'\')', 0)"/><label
																	for="ctl00_ContentPlaceHolder1_LodFile_rbZyClassBig_2">化工行业标准</label></td>
																<td><input
																	id="ctl00_ContentPlaceHolder1_LodFile_rbZyClassBig_3"
																	type="radio"
																	name="ctl00$ContentPlaceHolder1$LodFile$rbZyClassBig"
																	value="20"
																	onclick="setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$LodFile$rbZyClassBig$3\',\'\')', 0)"/><label
																	for="ctl00_ContentPlaceHolder1_LodFile_rbZyClassBig_3">石化行业标准</label></td>
																<td><input
																	id="ctl00_ContentPlaceHolder1_LodFile_rbZyClassBig_4"
																	type="radio"
																	name="ctl00$ContentPlaceHolder1$LodFile$rbZyClassBig"
																	value="3"
																	onclick="setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$LodFile$rbZyClassBig$4\',\'\')', 0)"/><label
																	for="ctl00_ContentPlaceHolder1_LodFile_rbZyClassBig_4">其它</label></td>
															</tr>
															<tr>
																<td><input
																	id="ctl00_ContentPlaceHolder1_LodFile_rbZyClassBig_5"
																	type="radio"
																	name="ctl00$ContentPlaceHolder1$LodFile$rbZyClassBig"
																	value="56"
																	onclick="setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$LodFile$rbZyClassBig$5\',\'\')', 0)"/><label
																	for="ctl00_ContentPlaceHolder1_LodFile_rbZyClassBig_5">螺栓</label></td>
																<td><input
																	id="ctl00_ContentPlaceHolder1_LodFile_rbZyClassBig_6"
																	type="radio"
																	name="ctl00$ContentPlaceHolder1$LodFile$rbZyClassBig"
																	value="57"
																	onclick="setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$LodFile$rbZyClassBig$6\',\'\')', 0)"/><label
																	for="ctl00_ContentPlaceHolder1_LodFile_rbZyClassBig_6">螺母</label></td>
																<td><input
																	id="ctl00_ContentPlaceHolder1_LodFile_rbZyClassBig_7"
																	type="radio"
																	name="ctl00$ContentPlaceHolder1$LodFile$rbZyClassBig"
																	value="58"
																	onclick="setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$LodFile$rbZyClassBig$7\',\'\')', 0)"/><label
																	for="ctl00_ContentPlaceHolder1_LodFile_rbZyClassBig_7">螺钉</label></td>
																<td><input
																	id="ctl00_ContentPlaceHolder1_LodFile_rbZyClassBig_8"
																	type="radio"
																	name="ctl00$ContentPlaceHolder1$LodFile$rbZyClassBig"
																	value="59"
																	onclick="setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$LodFile$rbZyClassBig$8\',\'\')', 0)"/><label
																	for="ctl00_ContentPlaceHolder1_LodFile_rbZyClassBig_8">法兰</label></td>
																<td><input
																	id="ctl00_ContentPlaceHolder1_LodFile_rbZyClassBig_9"
																	type="radio"
																	name="ctl00$ContentPlaceHolder1$LodFile$rbZyClassBig"
																	value="60"
																	onclick="setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$LodFile$rbZyClassBig$9\',\'\')', 0)"/><label
																	for="ctl00_ContentPlaceHolder1_LodFile_rbZyClassBig_9">法兰盖</label></td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
											<tr>
												<td height="25" align="left">小类：</td>
												<td valign="top" align="left">
													<table id="ctl00_ContentPlaceHolder1_LodFile_rbZyClassSml"
														border="0">
														<tbody>
															<tr>
																<td>
																	<input id="ClassSml_0" type="radio" name="ClassSml" value="28" checked="checked"/><label>未分</label>
																</td>
																<td><input
																	id="ctl00_ContentPlaceHolder1_LodFile_rbZyClassSml_2"
																	type="radio"
																	name="ctl00$ContentPlaceHolder1$LodFile$rbZyClassSml"
																	value="137"
																	onclick="setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$LodFile$rbZyClassSml$2\',\'\')', 0)"/><label
																	for="ctl00_ContentPlaceHolder1_LodFile_rbZyClassSml_2">轴承</label></td>
																<td><input
																	id="ctl00_ContentPlaceHolder1_LodFile_rbZyClassSml_3"
																	type="radio"
																	name="ctl00$ContentPlaceHolder1$LodFile$rbZyClassSml"
																	value="138"
																	onclick="setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$LodFile$rbZyClassSml$3\',\'\')', 0)"/><label
																	for="ctl00_ContentPlaceHolder1_LodFile_rbZyClassSml_3">联轴器、离合器和制动器</label></td>
															</tr>
															<tr>
																<td>
																	<input id="ClassSml_5" type="radio" name="ClassSml" value="140"
																	onclick="setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$LodFile$rbZyClassSml$5\',\'\')', 0)"/><label
																	for="ClassSml_5">操作件、小五金</label>
																</td>
																<td>
																	<input id="ClassSml_7" type="radio" name="ClassSml" value="334"
																	onclick="setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$LodFile$rbZyClassSml$7\',\'\')', 0)"/><label
																	for="ClassSml_7">常见工程材料及工艺</label>
																</td>
															</tr>
															<tr>
																<td>
																	<input id="ClassSml_8" type="radio" name="ClassSml" value="338"
																	onclick="setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$LodFile$rbZyClassSml$8\',\'\')', 0)"/><label
																	for="ClassSml_8">润滑与密封</label>
																</td>
																<td>
																	<input id="ClassSml_9" type="radio" name="ClassSml" value="341"
																	onclick="setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$LodFile$rbZyClassSml$9\',\'\')', 0)"/><label
																	for="ClassSml_9">弹簧</label>
																</td>
																<td><input
																	id="ClassSml_10"
																	type="radio"
																	name="ClassSml"
																	value="343"
																	onclick="setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$LodFile$rbZyClassSml$10\',\'\')', 0)"/><label
																	for="ClassSml_10">螺旋传动、摩擦轮传动</label></td>
																<td>
																	<input id="ClassSml_11" type="radio" name="ClassSml" value="344"
																	onclick="setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$LodFile$rbZyClassSml$11\',\'\')', 0)"/><label
																	for="ClassSml_11">带、链传动</label>
																</td>
															</tr>
															<tr>
																<td>
																	<input id="ClassSml_12" type="radio" name="ClassSml" value="345"
																	onclick="setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$LodFile$rbZyClassSml$12\',\'\')', 0)"/><label
																	for="ClassSml_12">齿轮与齿轮传动</label>
																</td>
																<td><input
																	id="ctl00_ContentPlaceHolder1_LodFile_rbZyClassSml_14"
																	type="radio"
																	name="ctl00$ContentPlaceHolder1$LodFile$rbZyClassSml"
																	value="347"
																	onclick="setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$LodFile$rbZyClassSml$14\',\'\')', 0)"/><label
																	for="ctl00_ContentPlaceHolder1_LodFile_rbZyClassSml_14">常用电动机</label></td>
																<td><input
																	id="ctl00_ContentPlaceHolder1_LodFile_rbZyClassSml_15"
																	type="radio"
																	name="ctl00$ContentPlaceHolder1$LodFile$rbZyClassSml"
																	value="348"
																	onclick="setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$LodFile$rbZyClassSml$15\',\'\')', 0)"/><label
																	for="ctl00_ContentPlaceHolder1_LodFile_rbZyClassSml_15">液压传动</label></td>
															</tr>
															<tr>
																<td><input
																	id="ctl00_ContentPlaceHolder1_LodFile_rbZyClassSml_16"
																	type="radio"
																	name="ctl00$ContentPlaceHolder1$LodFile$rbZyClassSml"
																	value="349"
																	onclick="setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$LodFile$rbZyClassSml$16\',\'\')', 0)"/><label
																	for="ctl00_ContentPlaceHolder1_LodFile_rbZyClassSml_16">气压传动</label></td>
																<td><input
																	id="ctl00_ContentPlaceHolder1_LodFile_rbZyClassSml_18"
																	type="radio"
																	name="ctl00$ContentPlaceHolder1$LodFile$rbZyClassSml"
																	value="351"
																	onclick="setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$LodFile$rbZyClassSml$18\',\'\')', 0)"/><label
																	for="ctl00_ContentPlaceHolder1_LodFile_rbZyClassSml_18">机床综合</label></td>
																<td><input
																	id="ctl00_ContentPlaceHolder1_LodFile_rbZyClassSml_19"
																	type="radio"
																	name="ctl00$ContentPlaceHolder1$LodFile$rbZyClassSml"
																	value="352"
																	onclick="setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$LodFile$rbZyClassSml$19\',\'\')', 0)"/><label
																	for="ctl00_ContentPlaceHolder1_LodFile_rbZyClassSml_19">模具综合</label></td>
															</tr>
															
														</tbody>
													</table>
												</td>
											</tr>
											<tr style="display: none;">
												<td height="25" align="left">标准：</td>
												<td valign="top" align="left"><select
													name="ctl00$ContentPlaceHolder1$LodFile$dlStandard"
													onchange="setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$LodFile$dlStandard\',\'\')', 0)"
													id="ctl00_ContentPlaceHolder1_LodFile_dlStandard"
													repeatdirection="Horizontal" style="width: 220px;">
														<option value="1">无</option>
														<option value="2">中国国家标准件</option>
														<option value="3">机械行业标准件</option>
														<option value="4">化工行业标准件</option>
												</select></td>
											</tr>
											<tr style="display: none;">
												<td height="25" align="left">类别：</td>
												<td valign="top" align="left"><select
													name="ctl00$ContentPlaceHolder1$LodFile$dlClassType"
													onchange="setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$LodFile$dlClassType\',\'\')', 0)"
													id="ctl00_ContentPlaceHolder1_LodFile_dlClassType"
													repeatdirection="Horizontal"
													style="height: 22px; width: 220px;">
														<option value="1">无</option>
														<option value="2">标注</option>
														<option value="3">操作件、小五金</option>
														<option value="4">常见工程材料及工艺</option>
														<option value="5">常用电动机</option>
														<option value="6">齿轮与齿轮传动</option>
														<option value="7">带、链传动</option>
														<option value="8">弹簧</option>
														<option value="9">电气元件</option>
														<option value="10">管道与管道附件</option>
														<option value="11">化工机械</option>
														<option value="12">机床综合</option>
														<option value="13">机构运动</option>
														<option value="14">减速器和变速器</option>
														<option value="15">联接与紧固</option>
														<option value="16">联轴器、离合器和制动器</option>
														<option value="17">量具与量仪</option>
														<option value="18">螺旋传动、摩擦轮传动</option>
														<option value="19">模具</option>
														<option value="20">模具综合</option>
														<option value="21">农业机械</option>
														<option value="22">起重运输机械零部件</option>
														<option value="23">气压传动</option>
														<option value="24">润滑与密封</option>
														<option value="25">压力容器</option>
														<option value="26">液压传动</option>
														<option value="27">一般卡具</option>
														<option value="28">轴承</option>
												</select></td>
											</tr>
											<tr id="ctl00_ContentPlaceHolder1_LodFile_trViewFlag">
												<td height="25" align="left">是否公开：</td>
												<td valign="top" align="left">
													<table id="ctl00_ContentPlaceHolder1_LodFile_rbViewFlag"
														border="0">
														<tbody>
															<tr>
																<td><input
																	id="ctl00_ContentPlaceHolder1_LodFile_rbViewFlag_0"
																	type="radio"
																	name="ctl00$ContentPlaceHolder1$LodFile$rbViewFlag"
																	value="0" checked="checked"/><label
																	for="ctl00_ContentPlaceHolder1_LodFile_rbViewFlag_0">公开</label></td>
																<td><input
																	id="ctl00_ContentPlaceHolder1_LodFile_rbViewFlag_1"
																	type="radio"
																	name="ctl00$ContentPlaceHolder1$LodFile$rbViewFlag"
																	value="1"/><label
																	for="ctl00_ContentPlaceHolder1_LodFile_rbViewFlag_1">不公开（仅自己可见）</label></td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
											<tr style="display: none;">
												<td height="25" align="left">播放状态：</td>
												<td align="left">
													<table id="ctl00_ContentPlaceHolder1_LodFile_rbPlayFlag"
														disabled="disabled" border="0">
														<tbody>
															<tr>
																<td><span disabled="disabled"><input
																		id="ctl00_ContentPlaceHolder1_LodFile_rbPlayFlag_0"
																		type="radio"
																		name="ctl00$ContentPlaceHolder1$LodFile$rbPlayFlag"
																		value="1" disabled="disabled"/><label
																		for="ctl00_ContentPlaceHolder1_LodFile_rbPlayFlag_0">在线播放</label></span></td>
																<td><span disabled="disabled"><input
																		id="ctl00_ContentPlaceHolder1_LodFile_rbPlayFlag_1"
																		type="radio"
																		name="ctl00$ContentPlaceHolder1$LodFile$rbPlayFlag"
																		value="0" checked="checked" disabled="disabled"/><label
																		for="ctl00_ContentPlaceHolder1_LodFile_rbPlayFlag_1">不可在线播放</label></span></td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
											<tr>
												<td height="25" align="left">文件大小：</td>
												<td align="left">
													<table id="SizeType"
														border="0">
														<tbody>
															<tr>
																<td>
																	<input id="SizeType_0" type="radio" name="SizeType" value="0" checked="checked"/><label
																	for="SizeType_0">小于等于10M</label>
																</td>
																<td>
																	<input id="SizeType_1" type="radio" name="SizeType" value="1"
																	onclick="setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$LodFile$rbSizeType$1\',\'\')', 0)"/><label
																	for="SizeType_1">大于10M</label>
																</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
											<tr>
												<td width="100" height="25" align="left">需求名称：</td>
												<td width="654" align="left">
												<input name="Name" type="text" id="Name" class="form-control"
													maxlength="150" style="width: 370px"/></td>
											</tr>
											<tr>
												<td height="25" align="left">标签：</td>
												<td valign="middle" align="left">
													<input name="Tag" type="text" id="Tag" class="form-control"
														maxlength="1024" style="width: 370px" placeholder="多个标签请用空格隔开"/>
												</td>
											</tr>
											<tr>
												<td height="100" align="left">需求说明 ：<br></br> (1024个字符)</td>
												<td align="left">
													<textarea name="Memo" id="Memo" rows="10" cols="86" class="form-control"></textarea>
												</td>
											</tr>
										</tbody>
									</table>
									<hr></hr>
									<table id="ctl00_ContentPlaceHolder1_LodFile_tb1" border="0"
										cellpadding="0" cellspacing="0" align="left">
										<tbody>
											<tr>
												<td align="left" width="100px" height="25px">预览图片1：</td>
												<td align="left"
													style="width: 120px; height: 25px; vertical-align: top;">
													<input type="file" name="fuFile" id="fuFile" style="width: 460px;"/>
												</td>
												<td rowspan="11" align="left" height="75px" valign="top"
													width="110px">
													<table id="ctl00_ContentPlaceHolder1_LodFile_rbImgLst"
														cellspacing="0" cellpadding="1" border="0"
														style="border-width: 0px; border-collapse: collapse;">
													</table>&nbsp;
												</td>
												<td rowspan="11"></td>
											</tr>
											<tr id="ctl00_ContentPlaceHolder1_LodFile_tr2">
												<td width="100px" height="25" align="left">选择文件<span
													id="ctl00_ContentPlaceHolder1_LodFile_lbFileTxt">(txt)</span>：
												</td>
												<td align="left" colspan="1"><input type="file"
													name="ctl00$ContentPlaceHolder1$LodFile$fuFile2"
													id="ctl00_ContentPlaceHolder1_LodFile_fuFile2"
													onchange="return SelectImg(this)" style="width: 460px;"/><br></br>
													<div id="ctl00_ContentPlaceHolder1_LodFile_UpdatePanel2">

														<input name="ctl00$ContentPlaceHolder1$LodFile$hidTxtPath"
															type="hidden"
															id="ctl00_ContentPlaceHolder1_LodFile_hidTxtPath"/>
														<input
															name="ctl00$ContentPlaceHolder1$LodFile$hidTxtPath1"
															type="hidden"
															id="ctl00_ContentPlaceHolder1_LodFile_hidTxtPath1"/>
														<a id="ctl00_ContentPlaceHolder1_LodFile_lbtUpLoadTxt"
															href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$LodFile$lbtUpLoadTxt','')"></a>
													</div>
												</td>
											</tr>
											<tr id="LodFile_tr1">
												<td width="100px" height="25" align="left">选择文件<span
													id="FileSbl">(sbl)</span>：
												</td>
												<td align="left">
													<input type="file" name="File1" id="File1" style="width: 460px;"/>
												</td>
											</tr>
											<tr id="ctl00_ContentPlaceHolder1_LodFile_tr5"
												style="display: none;">
												<td width="100px" height="25" align="left">
													<input id="OtherPlayFlag" type="checkbox" name="OtherPlayFlag"
													onclick="setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$LodFile$cbOtherPlayFlag\',\'\')', 0)"/><label
													for="OtherPlayFlag">支持外部视频播放</label>
												</td>
												<td align="left">
													<input name="OtherPlayValue" type="text" id="OtherPlayValue" style="width: 460px"/>
												</td>
											</tr>
											<tr id="ctl00_ContentPlaceHolder1_LodFile_tr6"
												style="display: none;">
												<td width="100px" height="25" align="left">
													<input id="InPlayFlag" type="checkbox" name="InPlayFlag"
													onclick="setTimeout('__doPostBack(\'ctl00$ContentPlaceHolder1$LodFile$cbInPlayFlag\',\'\')', 0)"/><label
													for="InPlayFlag">支持内部视频播放</label>
												</td>
												<td align="left">
													<input name="InPlayValue" type="text" id="InPlayValue" style="width: 460px"/>
												</td>
											</tr>
											<tr>
												<td height="50" colspan="4" style="border-left: 1px solid #e5e5e5; border-right: 1px solid #e5e5e5;
										                                border-bottom: 1px solid #e5e5e5; padding-bottom: 10px;" align="right">
					                                <input type="submit" name="btSubmit" value="提交" id="btSubmit" class="btn btn-info"/>
					                                <input type="submit" name="btUpdate" value="取消" id="btUpdate" 
					                                	onclick="location='/demands'" class="btn btn-info"/>
					                            </td>
											</tr>
											<tr>
												<td colspan="2" height="10px">&nbsp;</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
<style>
.main-content {
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}
</style>
</html>