<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>用户登录</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css"></link>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="../css/indlog.css"></link>
    <!-- Core scripts for this template -->
    <script src="../js/jquery.js"></script>
    <script src="../js/html5shiv.js"></script>
    <script src="../js/respond.min.js"></script>
    <!-- Custom scripts for this template -->
    <script src="../js/login.js"></script>
</head>
<body onload="setFocus()">
    <div class="container">
        <div id="loginbox">
            <form action="">
                <div class="form-group icons-lg">
                    <span class="icons-user"></span>
                    <input type="text" class="form-control" id="inputuser" placeholder="账 号" required="required"></input>
                </div>
                <div class="form-group icons-lg">
                    <span class="icons-psd"></span>
                    <input type="password" class="form-control" id="inputPassword" placeholder="密 码" required="required"></input>
                </div>
                <div class="form-group icons-lg">
                    <div class="col-xs-6">
                        <span class="icons-yzh"></span>
                        <input type="text" class="form-control" id="inputyanzh" placeholder="验证码" required="required"></input>
                    </div>
                    <div class="col-xs-6">
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success bg_lg">登 录</button>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success bg_lg">注 册</button>
                </div>
                <div class="form-group icons-lg">
                    <div class="col-xs-5 col-xs-offset-1">
                        <button type="submit" class="btn btn-success bg_lg">找回密码</button>
                    </div>
                    <div class="col-xs-5 col-xs-offset-1">
                        <button type="submit" class="btn btn-success bg_lg">重 置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>