<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>CMS登录页面</title>

    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Theme -->
    <link href="../static/css/login.css" rel="stylesheet"/>
</head>

<body>
<div class="login-box">
    <div class="row" id="login">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-lock"></span> TJCMS环境登录
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form" onsubmit="return loginCheck()">
                        <div class="alert alert-danger hide" id="error">
                            <b>Error </b>User or password is incorrect.
                        </div>
                        <div class="form-group">
                            <label for="loginMail" class="col-sm-3 control-label">
                                Email</label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control" name="loginMail" id="loginMail"
                                       placeholder="Email" required="required"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="loginPass" class="col-sm-3 control-label">
                                Password</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" name="loginPass" id="loginPass"
                                       placeholder="Password" required="required"/>
                            </div>
                        </div>
                        <div class="form-group last">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-success btn-sm">
                                    Sign in
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">
                    Not Registred? <a onClick="create()">Register here</a></div>
            </div>
        </div>
    </div>

    <div class="row hide" id="create">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-plus"></span> 创建用户
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="newMail" class="col-sm-3 control-label">
                                Email</label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control" name="newMail" id="newMail" placeholder="Email"
                                       required="required"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="newPass" class="col-sm-3 control-label">
                                Password</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" name="newPass" id="newPass"
                                       placeholder="Password" required="required"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="confirmPass" class="col-sm-3 control-label">
                                Confirm password</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" name="confirmPass" id="confirmPass"
                                       placeholder="Confirm password" required="required"/>
                            </div>
                        </div>
                        <div class="form-group last">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-success btn-sm">
                                    Sign in
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">
                    Already registered <a onCLick="login()">Sign in</a></div>
            </div>
        </div>
    </div>
</div>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../static/js/bootstrap.min.js"></script>
<!-- Login and register -->
<script src="../static/js/custom/login.js"></script>
</body>
</html>